<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
<style>
    body{
        background-image: url(https://image.ibb.co/d4U0yk/kansei_dorifto.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-color: #000;
    }
    p {
        text-align: center;
        align-content: center;
        width: 100%;
        height: auto;
        font-size: 30px;
        color: #000;
        font-weight: bold;
        text-shadow: 0 0 5px #ffffff;
        background: rgba(255,255,255,0.5);
    }
    h3 {
        align-content: center;
        width: 100%;
        height: auto;
        font-size: 20px;
        color: #000;
        font-weight: bold;
        text-shadow: 0 0 5px #ffffff;
        background: rgba(255,255,255,0.5);
    }
</style>
<body>
    <h3>Selecy Your Theme<select class="my-select"></select>
    <button class="apply-button">apply</button></h3>
    <p th:text="'Hello, ' + ${name} + '!'" />
    <p><a href="/">Go back home</a> or <a href="/cv?visitor=Budi">See my CV</a></p>
</body>
<script>
    $(document).ready(function() {
//inisiasi data tema (optional)
        var themes = [{"id":0,"text":"Plain","bcgColor":"#2196F3","fontColor":"#212121","bgimage":"none"},
            {"id":1,"text":"Extraterrestrial","bcgColor":"none","fontColor":"#212121","bgimage":"url('https://www.walldevil.com/wallpapers/a70/wallpapers-landscape-fantasy.jpg')"},
            {"id":2,"text":"Void Space","bcgColor":"none","fontColor":"#212121","bgimage":"url('https://image.ibb.co/dS2P7x/jeanne_jalter_1_cos2.png')"},
            {"id":3,"text":"Sakura","bcgColor":"none","fontColor":"#212121","bgimage":"url(https://hdwallsource.com/img/2014/6/japanese-wallpaper-22080-22636-hd-wallpapers.jpg)"},
            {"id":4,"text":"Dorifto","bcgColor":"none","fontColor":"#212121","bgimage":"url(https://image.ibb.co/d4U0yk/kansei_dorifto.png)"}
            ,{"id":5,"text":"Night Street","bcgColor":"none","fontColor":"#212121","bgimage":"url(https://image.ibb.co/neFoZc/street.jpg)"}
            ,{"id":6,"text":"MHX","bcgColor":"none","fontColor":"#212121","bgimage":"url(https://i.redd.it/drn88bzkfhuy.png)"}
            ,{"id":7,"text":"Holy Maiden","bcgColor":"none","fontColor":"#212121","bgimage":"url(https://image.ibb.co/ddM6LH/jeanne_jalter_2.jpg)"}
            ,{"id":8,"text":"Fox Winter","bcgColor":"none","fontColor":"#212121","bgimage":"url(https://image.ibb.co/kXSz7x/GSHfi.jpg)"}
            ,{"id":9,"text":"Fox Spring","bcgColor":"none","fontColor":"#212121","bgimage":"url(https://image.ibb.co/jdF80H/thumb_1920_713414.png)"}
            ,{"id":10,"text":"Fox Autumn","bcgColor":"none","fontColor":"#212121","bgimage":"url(https://image.ibb.co/gy0rLH/50e4271812ba9.jpg)"}
            ,{"id":11,"text":"Halloween","bcgColor":"none","fontColor":"#212121","bgimage":"url(https://image.ibb.co/mU1y0H/2017_10_10_928597.jpg)"}
        ];
        var selectedTheme = {"Plain":{"bcgColor":"#2196F3","fontColor":"#212121","bgimage":"none"}};

        //simpan data tema di local storage
        localStorage.setItem('themes', JSON.stringify(themes));
        localStorage.setItem('selectedTheme', JSON.stringify(selectedTheme));
        //menload tema ke select2
        var retrievedObject = localStorage.getItem('themes');
        $('.my-select').select2({data: JSON.parse(retrievedObject)});

        //menerapkan selectedTheme yang ada di local storage
        var retrievedSelected = JSON.parse(localStorage.getItem('selectedTheme'));
        var key;
        var bcgColor;
        var fontColor;
        var bcgImage;
        for (key in retrievedSelected) {
            if (retrievedSelected.hasOwnProperty(key)) {
                bcgColor=retrievedSelected[key].bcgColor;
                fontColor=retrievedSelected[key].fontColor;
                bcgImage=retrievedSelected[key].bgimage;
            }
        }
        $("body").css({"background-color": bcgColor,"background-image": bcgImage});

        //fungsi tombol apply
        $('.apply-button').on('click', function(){  // sesuaikan class button
            // [TODO] ambil value dari elemen select .my-select
            var valueTheme = $('.my-select').val();
            // [TODO] cocokan ID theme yang dipilih dengan daftar theme yang ada
            // [TODO] ambil object theme yang dipilih
            // [TODO] aplikasikan perubahan ke seluruh elemen HTML yang perlu diubah warnanya
            // [TODO] simpan object theme tadi ke local storage selectedTheme
            var theme;
            var a;
            var selectedTheme = {};
            //mencari tema yang sesuai dengan id
            for(a in themes){
                if(a==valueTheme){
                    var bcgColor = themes[a].bcgColor;
                    var fontColor = themes[a].fontColor;
                    var text = themes[a].text;
                    var bcgImage= themes[a].bgimage;
                    $("body").css({"background-color": bcgColor,"background-image": bcgImage});
                    $("p:not(#footer):not(.feed p)").css({"color":fontColor});
                    $("h1").css({"color":fontColor});
                    $("h2").css({"color":fontColor});
                    $("h3").css({"color":fontColor});
                    selectedTheme[text] = {"bcgColor":bcgColor,"fontColor":fontColor,"bgimage":bcgImage};
                    localStorage.setItem('selectedTheme', JSON.stringify(selectedTheme));
                }
            }
        });
    });
</script>
</html>
